<div class="flex">
  <div class="text">
    <h2>Support scrutiny.</h2>
    <p>Wallet Scrutiny is an independent, non-profit entity that depends on volunteers and donations. Have a thorough understanding of open-source bitcoin and feel like helping us review some wallets? Great. We’d love to hear from you. Don’t know the first thing about code but want to support the people that do? Consider donating today. 
    </p>
  </div>
  <div class="cta">
    <a class="action-tile" href="https://gitlab.com/walletscrutiny/walletScrutinyCom" title="Help review wallets">
      <i class="contribute icon"></i>
      <h2>Contribute</h2>
      <p>Help us review wallets.</p>
    </a>
    <a class="action-tile" href="/donate" title="Donate to WalletScrutiny">
      <i class="donate icon"></i>
      <h2>Donate</h2>
      <p>Donate sats to the cause.</p>
    </a>
  </div>
</div>
