<div class="flex">
  <div class="text">
    <h2>Security starts with scrutiny.</h2>
    <h4>Not everyone is a developer. Not everyone has to be. </h4>
    <p>There’s more to protecting your bitcoin than securing your seed phase. While some wallets claim to be
      open-source, secure, and non-custodial, that’s not something the average user can easily verify. Wallet Scrutiny
      audits wallets for these and other potential security flaws so that you don’t have to.
    </p>
    <p>
      Help us and support this mission.</p>
  </div>
  <div class="cta">
    <a class="action-tile" href="https://gitlab.com/walletscrutiny/walletScrutinyCom" title="Help review wallets">
      <i class="contribute icon"></i>
      <h2>Contribute</h2>
      <p>Help review wallets.</p>
    </a>
    <a class="action-tile" href="/donate" title="Donate to WalletScrutiny">
      <i class="donate icon"></i>
      <h2>Donate</h2>
      <p>Every Satoshi is appreciated.</p>
    </a>
  </div>
</div>
