{% include homepage/all_reviewed_products.html %}
{%- assign vgKeyCount = 0 -%}
{% assign vgKey = include.vgKey %}
{% for group in site.data.verdictGroups %}
  {% if group.key == vgKey %}
    {%- for p in products -%}
      {%- include homepage/product_matches_verdict_group.html product=p verdict_group=group -%}
      {%- if product_matches_verdict_group and product_listing_meta == 'ok' -%}
        {%- assign vgKeyCount = vgKeyCount | plus: 1 -%}
      {%- endif -%}
    {%- endfor -%}
  {% endif %}
{% endfor %}
