<div class="hero">

  <div class="hero-text">
    <div id="exitSearchTrigger"></div>
    <h1 class="page__title" itemprop="headline">Know your wallet like you built it.</h1>

    <h2>Not everyone is a developer. Not everyone has to be.</h2>

    <p>WalletScrutiny helps everyday bitcoin users verify whether or not their wallet is truly open-source and secure. Enter your wallet's name to get started.</p>

    <div class="link-organiser">
      <a href="#all-wallets-ordered-by-verifiability-downloads-and-ratings" class="">Learn more</a>
      <a href="/methodology" class="">Methodology</a>
      <a href="/publications" class="">Publications</a>
    </div>

  </div>
</div>
