<div class="flex">
  <div class="text">
    <h2>We've reviewed <span class="complete-wallet-count">
      {% include homepage/full_wallet_count.html %}
    </span> wallets and products.</h2>
    <h4>We perform 17 tests across 6 categories.</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    </p>
    <p>
      <a href="/methodology">More about our methodology.</a></p>
  </div>
  <div class="cta">
    {% include homepage/wallets_per_category.html %}
  </div>
</div>
