<div class="flex">
  <div class="text">
    <h2>Thousands of wallets reviewed, and counting.</h2>
    <p>Our wallet analysis process requires running 17 separate tests across various categories. This might sound excessive, but our thinking is that every compromised wallet, whether it’s already popular or just released, has the potential to damage bitcoin’s reputation or discourage future users.
    </p>
    <p>Learn more about <a href="/methodology">our methodology</a>.</p>
  </div>
  <div class="cta">
    {% include homepage/wallets_per_category.html %}
  </div>
</div>
