<div class="filter">
  <div title="Search selected wallets" class="landing-page-search-container">
      <script>window.full_wallet_count={% include /homepage/full_wallet_count.html %}</script>
    <input class="search-filtered-wallets" />
  </div>
  <div title="Verdict" class="component component-verdict">
    <div class="dropdown-options dropdown-verdict"></div>
  </div>
  <div title="Platform" class="component component-platform">
    <div class="dropdown-options dropdown-platform"></div>
  </div>
  <div title="View" class="component component-view">
    <div class="dropdown-options dropdown-view linear-switch">
    <div class="option tiles selected" data="tiles"><i class="fas fa-th-large"></i></div>
    <div class="option list" data="list"><i class="fas fa-bars"></i></div>
    </div>
  </div>
</div>
</div>
<br>


<div id="modularWalletPayload" class="tile-list-ui">
