<script>window.isHomepage=true;</script>
<div class="filter" id="homepageSearch">
  <div title="Search selected wallets" class="landing-page-search-container">
      <script>window.full_wallet_count=`{% include /homepage/full_wallet_count.html %}`</script>
    <input class="search-filtered-wallets" />
  </div>
  <div title="Filters" class="filters-toggle" onclick="filtersToggle(this)">
    <i class="fas fa-filter"></i>
  </div>
  <div title="Verdict" class="component component-verdict">
    <div class="dropdown-options dropdown-verdict"></div>
  </div>
  <div title="Platform" class="component component-platform">
    <div class="dropdown-options dropdown-platform"></div>
  </div>
</div>
</div>
<br>


<div id="modularWalletPayload" class="tile-list-ui view-tiles">

<script>
  function filtersToggle(self){
    if(self.parentNode.classList.contains('filters-visible')){
    self.parentNode.classList.remove('filters-visible')
    return
    }
    self.parentNode.classList.add('filters-visible')
  }
</script>