{% include base_path %}
{
  "base_path": "{{ base_path }}",
  {% for post in site.iphone %}
    "iphone/{{ post.appId }}": {
      "appId": "{{ post.appId }}",
      "idd": "{{ post.idd }}",
      "title": "{{ post.title }}",
      "released": "{{ post.released | date: '%Y-%m-%d' }}",
      "updated": "{{ post.updated | date: '%Y-%m-%d' }}",
      "version": "{{ post.version }}",
      "score": "{{ post.score }}",
      "reviews": "{{ post.reviews }}",
      "size": "{{ post.size }}",
      "developerWebsite": "{{ post.developerWebsite }}",
      "repository": "{{ post.repository }}",
      "issue": "{{ post.issue }}",
      "icon": "{{ post.icon }}",
      "verdict": "{{ post.verdict }}",
      "date": "{{ post.date | date: '%Y-%m-%d' }}",
      "signer": "{{ post.signer }}",
      "providerTwitter": "{{ post.providerTwitter }}",
      "providerLinkedIn": "{{ post.providerLinkedIn }}",
      "providerFacebook": "{{ post.providerFacebook }}",
      "providerReddit": "{{ post.providerReddit }}",
      "url": "{{ post.url }}"
    },
  {% endfor %}
  {% for post in site.fdroid %}
    "fdroid/{{ post.appId }}": {
      "appId": "{{ post.appId }}",
      "title": "{{ post.title }}",
      "latestUpdate": "{{ post.latestUpdate | date: '%Y-%m-%d' }}",
      "apkVersionName": "{{ post.versionName }}",
      "website": "{{ post.website }}",
      "repository": "{{ post.repository }}",
      "issue": "{{ post.issue }}",
      "icon": "{{ post.icon }}",
      "verdict": "{{ post.verdict }}",
      "date": "{{ post.date | date: '%Y-%m-%d' }}",
      "signer": "{{ post.signer }}",
      "providerTwitter": "{{ post.providerTwitter }}",
      "providerLinkedIn": "{{ post.providerLinkedIn }}",
      "providerFacebook": "{{ post.providerFacebook }}",
      "providerReddit": "{{ post.providerReddit }}",
      "url": "{{ post.url }}"
    },
  {% endfor %}
  {% for post in site.android %}
    "{{ post.appId }}": {
      "appId": "{{ post.appId }}",
      "title": "{{ post.title }}",
      "users": "{{ post.users }}",
      "launchDate": "{{ post.launchDate | date: '%Y-%m-%d' }}",
      "latestUpdate": "{{ post.latestUpdate | date: '%Y-%m-%d' }}",
      "apkVersionName": "{{ post.apkVersionName }}",
      "stars": "{{ post.stars }}",
      "ratings": "{{ post.ratings }}",
      "reviews": "{{ post.reviews }}",
      "size": "{{ post.size }}",
      "website": "{{ post.website }}",
      "repository": "{{ post.repository }}",
      "issue": "{{ post.issue }}",
      "icon": "{{ post.icon }}",
      "verdict": "{{ post.verdict }}",
      "date": "{{ post.date | date: '%Y-%m-%d' }}",
      "signer": "{{ post.signer }}",
      "providerTwitter": "{{ post.providerTwitter }}",
      "providerLinkedIn": "{{ post.providerLinkedIn }}",
      "providerFacebook": "{{ post.providerFacebook }}",
      "providerReddit": "{{ post.providerReddit }}",
      "url": "{{ post.url }}"
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}
}