<div class="donate-recent-panel">
  <h3 class="donate-recent-panel__title">10 most recent donations</h3>
  <div class="donate-recent-table-frame">
    <table class="donate-recent-table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr><td><span title="27/11/2025" class="calculate-time-elapsed raw" data="1764232006">27/11/2025</span></td><td class="donate-recent-table__amount">~22000 sat</td></tr>
        <tr><td><span title="27/9/2025" class="calculate-time-elapsed raw" data="1759008302">27/9/2025</span></td><td class="donate-recent-table__amount">~9100 sat</td></tr>
        <tr><td><span title="15/9/2025" class="calculate-time-elapsed raw" data="1757930888">15/9/2025</span></td><td class="donate-recent-table__amount">~1000 sat</td></tr>
        <tr><td><span title="1/9/2025" class="calculate-time-elapsed raw" data="1756754369">1/9/2025</span></td><td class="donate-recent-table__amount">~9200 sat</td></tr>
        <tr><td><span title="9/1/2025" class="calculate-time-elapsed raw" data="1736416445">9/1/2025</span></td><td class="donate-recent-table__amount">~5300 sat</td></tr>
        <tr><td><span title="6/1/2025" class="calculate-time-elapsed raw" data="1736142899">6/1/2025</span></td><td class="donate-recent-table__amount">~3000 sat</td></tr>
        <tr><td><span title="5/1/2025" class="calculate-time-elapsed raw" data="1736078199">5/1/2025</span></td><td class="donate-recent-table__amount">~1000 sat</td></tr>
        <tr><td><span title="31/12/2024" class="calculate-time-elapsed raw" data="1735657486">31/12/2024</span></td><td class="donate-recent-table__amount">~10000 sat</td></tr>
        <tr><td><span title="6/8/2024" class="calculate-time-elapsed raw" data="1722959448">6/8/2024</span></td><td class="donate-recent-table__amount">~1800 sat</td></tr>
        <tr><td><span title="12/7/2024" class="calculate-time-elapsed raw" data="1720819874">12/7/2024</span></td><td class="donate-recent-table__amount">~18 sat</td></tr>
        <tr class="donate-recent-table__more"><td>...</td><td class="donate-recent-table__amount">...</td></tr>
      </tbody>
    </table>
  </div>
</div>
