<h3>20 most recent donations</h3>
<table>
<tr><th>Date</th><th>Amount</th><th>Category</th></tr>
<tr><td>7/31/2021</td><td>0.13525mBTC</td><td>Any</td></tr>
<tr><td>7/31/2021</td><td>0.23812mBTC</td><td>Any</td></tr>
<tr><td>7/28/2021</td><td>0.00335mBTC</td><td>Any</td></tr>
<tr><td>7/28/2021</td><td>0.02499mBTC</td><td>Any</td></tr>
<tr><td>7/22/2021</td><td>0.19084mBTC</td><td>Any</td></tr>
<tr><td>7/17/2021</td><td>0.03196mBTC</td><td>Any</td></tr>
<tr><td>6/27/2021</td><td>0.0001mBTC</td><td>Any</td></tr>
<tr><td>6/13/2021</td><td>0.37184mBTC</td><td>Any</td></tr>
<tr><td>6/12/2021</td><td>0.02797mBTC</td><td>CodeReviews</td></tr>
<tr><td>5/18/2021</td><td>0.22345mBTC</td><td>Any</td></tr>
<tr><td>5/12/2021</td><td>0.00177mBTC</td><td>Any</td></tr>
<tr><td>5/11/2021</td><td>1768.09335mBTC</td><td>Any</td></tr>
<tr><td>4/20/2021</td><td>0.01816mBTC</td><td>Any</td></tr>
<tr><td>4/13/2021</td><td>3.16638mBTC</td><td>Any</td></tr>
<tr><td>4/13/2021</td><td>0.00016mBTC</td><td>Any</td></tr>
<tr><td>4/7/2021</td><td>0.01733mBTC</td><td>Any</td></tr>
<tr><td>3/15/2021</td><td>0.17539mBTC</td><td>Any</td></tr>
<tr><td>3/3/2021</td><td>0.19427mBTC</td><td>Any</td></tr>
<tr><td>2/16/2021</td><td>0.06153mBTC</td><td>Any</td></tr>
<tr><td>1/22/2021</td><td>0.00003mBTC</td><td>Any</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
</table>
<h3>All donations by category</h3>
<table><tr><th>Category</th><th>Sum</th></tr>
<tr><td>Any</td><td>1911.89344mBTC</td></tr>
<tr><td>CodeReviews</td><td>5.1555mBTC</td></tr>
<tr><td>MoreOS</td><td>3.05023mBTC</td></tr>
<tr><td>MoreWallets</td><td>0.10336mBTC</td></tr>
<tr><td>Alerts</td><td>0.01231mBTC</td></tr>
<tr><td>NonBitcoinWallets</td><td>0.00097mBTC</td></tr>
<tr><th>Total</th><th>1920.21581mBTC</th></tr>
</table>