{% include base_path %}


<section class="page__share">
<h4 class="page__share-title">Or embed a widget in your website</h4>

<pre class="highlight">
&lt;iframe src="{{ base_path }}/widget/#appId={{page.appId}}&style=short" style="width:35em;border:1px dashed gray;border-radius:10px;"&gt;&lt;/iframe&gt;
</pre>

will show<br>

<iframe
    src="{{ base_path }}/widget/#appId={{page.appId}}&style=short"
    style="width:35em;border:1px dashed gray;border-radius:10px;"></iframe>

<br>and<br>
<pre class="highlight">
&lt;iframe src="{{ base_path }}/widget/#appId={{page.appId}}&style=details" style="width:35em;height:22em;border:1px dashed gray;border-radius:10px;"&gt;&lt;/iframe&gt;
</pre>

will show<br>

<iframe
    src="{{ base_path }}/widget/#appId={{page.appId}}&style=long"
    style="width:35em;height:22em;border:1px dashed gray;border-radius:10px;"></iframe>
</section>