<style>
  iframe{
    border:0;border-radius:10px;box-shadow: 0 1px 5px -3px var(--text);
  }
</style>
<section class="page__share">
    <h4 class="page__share-title">Or embed a widget in your website</h4>
    <div class="code-block-holder">
<pre class="highlight">
<code><span class="cb-tag">&lt;<span class="cb-name">iframe</span> 
    <span class="cb-attr">src</span>=<span class="cb-string">"{{ site.url }}/widget/#appId={{page.collection}}/{{page.appId}}&theme=auto&style=short"</span> <span class="cb-attr">name</span>=<span class="cb-string">"<span class="_ts">_ts</span>"</span>
    <span class="cb-attr">onload</span>=<span class="cb-string">"this.setAttribute('name', this.src.split('#')[1]);window.addEventListener('message', (e)=>{try{const frame = document.getElementsByName(e.data.name)[0];frame.height=e.data.h;frame.width=e.data.w}catch(e){}})"</span></span>
    <span class="cb-attr">style</span>=<span class="cb-string">"border:0;border-radius:10px;"</span></span>
<span class="cb-tag">&lt;/<span class="cb-name">iframe</span>&gt;</span></code>
</pre>
<button class="copy_to_clipboard" onclick="copyToClipboard(this);"><i class="fas fa-copy"></i>&nbsp;copy</button>
</div>

    will show<br>

    <iframe src="/widget/#appId={{page.collection}}/{{page.appId}}&theme=auto&style=short"
    onload="this.setAttribute('name', this.src.split('#')[1]);window.addEventListener('message', (e)=>{try{const frame = document.getElementsByName(e.data.name)[0];frame.height=e.data.h;frame.width=e.data.w}catch(e){}})" style="border:0;border-radius:10px"></iframe>

    <br>and<br>
<div class="code-block-holder">
<pre class="highlight">
<code><span class="cb-tag">&lt;<span class="cb-name">iframe</span> 
    <span class="cb-attr">src</span>=<span class="cb-string">"{{ site.url }}/widget/#appId={{page.collection}}/{{page.appId}}&theme=auto&style=long"</span> 
    <span class="cb-attr">onload</span>=<span class="cb-string">"this.setAttribute('name', this.src.split('#')[1]);window.addEventListener('message', (e)=>{try{const frame = document.getElementsByName(e.data.name)[0];frame.height=e.data.h;frame.width=e.data.w}catch(e){}})"</span></span>
    <span class="cb-attr">style</span>=<span class="cb-string">"border:0;border-radius:10px;"</span></span>
<span class="cb-tag">&lt;/<span class="cb-name">iframe</span>&gt;</span></code>
</pre>
<button class="copy_to_clipboard" onclick="copyToClipboard(this);"><i class="fas fa-copy"></i>&nbsp;copy</button>
</div>
    will show<br>

    <iframe src="/widget/#appId={{page.collection}}/{{page.appId}}&theme=auto&style=long"
    onload="this.setAttribute('name', this.src.split('#')[1]);window.addEventListener('message', (e)=>{try{const frame = document.getElementsByName(e.data.name)[0];frame.height=e.data.h;frame.width=e.data.w}catch(e){}})" style="border:0;border-radius:10px"></iframe>
</section>


<script>
  function copyToClipboard(target) {
    const text = target.parentNode.querySelectorAll("code")[0].innerText.replace(/\s+/g, ' ')
    const dummyInput = document.createElement("input")
    dummyInput.setAttribute("style", "opacity:0;position:fixed;z-index:-99;pointer-events:none")
    document.body.append(dummyInput)
    dummyInput.value = text
    dummyInput.focus()
    dummyInput.select()
    if (document.execCommand("copy")) {
      target.innerHTML = '<i class="fas fa-clipboard-check"></i>&nbsp;success'
      dummyInput.remove()
      setTimeout(() => {
        target.innerHTML = '<i class="fas fa-copy"></i>&nbsp;copy'
      }, 1e3)
    }
  }
</script>
