{% assign pill_verdicts = "obfuscated,sourceavailable" | split: "," %}

{% if pill_verdicts contains verdict %}
<div class="embed-pill">
  <section class="page__share">
    <div class="code-block-holder">
      <pre class="highlight">
        <code>
          <span class="cb-tag">&lt;<span class="cb-name">img</span> <span class="cb-attr">src</span>=<span class="cb-string url-str">"{{ site.url }}/assets/images/pills/{{ page.collection }}/{{ page.appId }}.png"</span>&gt;</span>
        </code>
      </pre>
      <button class="copy_to_clipboard button" onclick="copyToClipboard(this);"><i class="fas fa-copy"></i>&nbsp;Copy to clipboard</button>
    </div>
  
    will show<br>
  
    <img src="{{ site.url }}/assets/images/pills/{{ page.collection }}/{{ page.appId }}.png">
  </section>
</div>
{% endif %}
