<div class="infoBox"><div>
<h3>Why exchanges are usually "custodial wallets"</h3>

<p>To trade assets, buyers want to know the asset is there before they send
  their funds and sellers want to know the buyer can pay, before locking up
  their assets. Trading platforms (exchanges) act as trusted third parties to
  facilitate the trade by holding the asset in custody and only allowing buyers
  to buy if they have the funds also in custody with the same exchange.</p>

<p>Additionally, as Bitcoin transactions on the blockchain can be expensive,
  platforms geared towards efficient and frequent trading track ownership of
  bitcoins in their custody without doing on-chain transactions between
  users.</p>

<p>Nevertheless there are trading platforms that are non-custodial but the user
  pays a price for that: Every trade costs on-chain fees, often even fees for
  multiple transactions for a single trade event.</p>
</div></div>