{% assign folder = include.folder %}
{% if include.store == 'true' %}
  {% case platform %}
    {% when "android" %}
      {% assign name = "Google Play" %}
    {% when "iphone" %}
      {% assign name = "App Store" %}
    {% when "hardware" %}
      {% assign name = "" %}
    {% when "bearer" %}
      {% assign name = "" %}
    {% when "desktop" %}
      {% assign name = "Desktop" %}
  {% endcase %}
{% else %}
  {% if folder == 'iphone' %}
    {% assign name = 'iPhone' %}
  {% elsif folder == 'macos' %}
    {% assign name = 'macOS' %}
  {% else %}
    {% assign name = folder | capitalize %}
  {% endif %}
{% endif %}
