{% assign total = 0 %}
{% for post in platformPosts %}
  {% if post.verdict == v %}
    {% assign total = total | plus: 1 %}
  {% endif %}
{% endfor %}
{% if total > 0 %}
  <tr class="-filter-element -{{ platform }}">
    <td>
      <count><span class="humanised-numbers -bold"><l>{{ total }}</l></span></count>
      <span class="stamp stamp-{{ site.data.verdicts[v].short }}">{{ site.data.verdicts[v].short }}</span>
    </td>
    <td>
      {% for post in platformPosts %}
        {% if post.verdict == v %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">
            <img loading="lazy" src="{{ base_path }}/images/wallet_icons/{{ post.collection }}/small/{{ post.icon }}" class="app_logo"
              alt="Wallet Logo" style="height:3em;width:3em;float:left;margin:0.3em">
          </a>
        {% endif %}
      {% endfor %}
    </td>
  </tr>
{% endif %}
