{% comment %}Sets iconName (a symbol id in assets/icons.svg, render with icon.html) or iconClass (a custom font icon class) for a platform.{% endcomment %}
{% assign platform = include.platform %}
{% assign store = include.store %}
{% if store %}
{% case platform %}
{% when "android" %}
{% assign iconName = "google-play" %}{% assign iconClass = nil %}
{% when "fdroid" %}
{% assign iconClass = "fac fa-f-droid" %}{% assign iconName = nil %}
{% when "iphone" %}
{% assign iconClass = "i-app-store" %}{% assign iconName = nil %}
{% when "hardware" %}
{% assign iconName = "toolbox" %}{% assign iconClass = nil %}
{% when "bearer" %}
{% assign iconClass = "i-btc" %}{% assign iconName = nil %}
{% when "windows" %}
{% assign iconName = "windows" %}{% assign iconClass = nil %}
{% when "desktop" %}
{% assign iconName = "desktop" %}{% assign iconClass = nil %}
{% when "others" %}
{% assign iconName = "calculator" %}{% assign iconClass = nil %}
{% endcase %}
{% else %}
{% case platform %}
{% when "android" %}
{% assign iconClass = "i-android" %}{% assign iconName = nil %}
{% when "fdroid" %}
{% assign iconClass = "i-android" %}{% assign iconName = nil %}
{% when "iphone" %}
{% assign iconClass = "i-ios" %}{% assign iconName = nil %}
{% when "hardware" %}
{% assign iconClass = "i-device" %}{% assign iconName = nil %}
{% when "bearer" %}
{% assign iconClass = "i-device" %}{% assign iconName = nil %}
{% when "windows" %}
{% assign iconName = "windows" %}{% assign iconClass = nil %}
{% when "desktop" %}
{% assign iconName = "desktop" %}{% assign iconClass = nil %}
{% when "others" %}
{% assign iconName = "calculator" %}{% assign iconClass = nil %}
{% endcase %}
{% endif %}
