{% include base_path %}

{% if post.altTitle %}
  {% assign title = post.altTitle %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.id %}
  {% assign title = title | markdownify | remove: "<p>" | remove: "</p>" %}
{% endif %}

{% case post.verdict %}
  {% when "wip" %}
    {% assign verdict = '<span class="wip tooltip">
      WIP
      <span class="tooltiptext">
        Work in progress. We still have to analyze this wallet.
      </span>
    </span>' %}
  {% when "custodial" %}
    {% assign verdict = '<span class="custodial tooltip">
      Custodial!
      <span class="tooltiptext">
        As the provider of this app holds the users coins, verifiability of
        the app is not relevant wether or not the funds are secure!
      </span>
    </span>' %}
  {% when "nobtc" %}
    {% assign verdict = '<span class="nobtc tooltip">
      Non-BTC
      <span class="tooltiptext">
        The app cannot send and receive BTC. We currently do not investigate
        other cryptocurrencies.
      </span>
    </span>' %}
  {% when "nowallet" %}
    {% assign verdict = '<span class="nowallet tooltip">
      Not&nbsp;a&nbsp;wallet
      <span class="tooltiptext">
        We could not find this to be an app meant to store receive and send
        coins.
      </span>
    </span>' %}
  {% when "nosource" %}
    {% assign verdict = '<span class="nosource tooltip">
      No&nbsp;source!
      <span class="tooltiptext">
        Without public source available, this app cannot be verified!
      </span>
    </span>' %}
  {% when "nonverifiable" %}
    {% assign verdict = '<span class="nonverifiable tooltip">
      Not&nbsp;verifiable!
      <span class="tooltiptext">
        The app provider also shares code but we could so far not verify that
        the published code matches the published app!
      </span>
    </span>' %}
  {% when "verifiable" %}
    {% assign verdict = '<span class="verifiable tooltip">
      Verifiable!
      <span class="tooltiptext">
        At the time of this analysis, the app on Google Play was reproducible
        from the code provided by the developers!
      </span>
    </span>' %}
  {% when "bounty" %}
    {% assign verdict = '<span class="bounty tooltip">
      Bounty!
      <span class="tooltiptext">
        This app was not only verifiable at the time of this analysis but also
        provides an incentive for third parties to find bugs and weaknesses!
      </span>
    </span>' %}
  {% when "cert1" %}
    {% assign verdict = '<span class="cert1 tooltip">cert1<span class="tooltiptext">As the provider of this app holds the users coins, verifiability is not relevant!</span></span>' %}
  {% when "cert2" %}
    {% assign verdict = '<span class="cert2 tooltip">cert2<span class="tooltiptext">As the provider of this app holds the users coins, verifiability is not relevant!</span></span>' %}
  {% else %}
    {% assign verdict = '<span class="wip tooltip">
      WIP
      <span class="tooltiptext">
        Work in progress. We still have to analyze this wallet.
      </span>
    </span>' %}
{% endcase %}

{% comment %}
  Neither Liquid nor CSS have a nice pretty-print for numbers. As all numbers
  here have only one significant digit, getting number grouping can be achieved
  by replacing "000" with " 000" from the right and to avoid a space in that
  string, the first replacement zero gets a margin instead of a space.
{% endcomment %}
{% assign zeroGroupReversed = '<span style="margin-left: 0.2em;">0</span>00' | split: "" | reverse | join: "" %}
{% assign prettyUserCount = post.users | split: "" | reverse | join: "" | replace: "000", zeroGroupReversed | split: "" | reverse | join: "" %}

<tr>
  <td rowSpan="2">
    <div class="app_logo">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">
        <img src="/images/wallet_icons/{{ post.icon }}" class="app_logo" alt="Wallet Logo">
      </a>
    </div>
  </td><td colSpan="8">
    <nobr>
      <div class="app_info_box">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          Analysis of <strong>{{ title }}</strong>
        </a>
      </div>
      (<a href="https://play.google.com/store/apps/details?id={{ post.appId }}">Google Play</a>
      / <a href="{{ post.website }}">Website</a>
        {% if "http://localhost:4000" == base_path %}
          {% if post.repository %}/ <a href="{{ post.repository }}">SRC</a>{% endif %}
          {% if post.issue %}/ <a href="{{ post.issue }}">Iss</a>{% endif %}
          {% if post.providerTwitter %}/ <a href="https://twitter.com/{{ post.providerTwitter }}">Tw</a>{% endif %}
          {% if post.providerFacebook %}/ <a href="https://www.facebook.com/{{ post.providerFacebook }}">Fb</a>{% endif %}
          {% if post.providerReddit %}/ <a href="https://www.reddit.com/r/{{ post.providerReddit }}">Re</a>{% endif %}
          {% if post.providerLinkedIn %}/ <a href="https://www.linkedin.com/{{ post.providerLinkedIn }}">Li</a>{% endif %}
          {% if post.internalIssue %}/ <a href="https://gitlab.com/walletscrutiny/walletScrutinyCom/issues/{{ post.internalIssue }}">Gl</a>{% endif %}
          {% if post.reviewStale %}/ <font color="red">stale</font>{% endif %}
        {% endif %})
    </nobr>
  </td>
</tr>
<tr {% if post.reviewStale %} class="reviewStale"{% endif %}>
  <td class="userCount">
    {{ prettyUserCount }}
  </td><td>
    {{ post.launchDate | date: '%Y-%m-%d' }}
  </td><td>
    {{ post.latestUpdate | date: '%Y-%m-%d' }}
  </td><td class="reviewDate">
    {% if post.verdict != "wip" %}
      {{ post.date | date: '%Y-%m-%d' }}
    {% endif %}
  </td><td class="verdict">
    {{ verdict }}
  </td>
</tr>
