{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign theBad = "none" %}
{% unless post.verifiable %}
  {% assign theBad = "This app is not easily verifiable!" %}
{% endunless %}
{% unless post.opensource %}
  {% assign theBad = "Without public source available, this app cannot be verified!" %}
{% endunless %}
{% if post.custodial %}
  {% assign theBad = "As the provider of this app holds the users' coins, verifiability is not relevant!" %}
{% endif %}

{% comment %}
  Neither Liquid nor CSS have a nice pretty-print for numbers. As all numbers
  here have only one significant digit, getting number grouping can be achieved
  by replacing "000" with " 000" from the right and to avoid a space in that
  string, the first replacement zero gets a margin instead of a space.
{% endcomment %}
{% assign zeroGroupReversed = '<span style="margin-left: 0.2em;">0</span>00' | split: "" | reverse | join: "" %}
{% assign prettyUserCount = post.users | split: "" | reverse | join: "" | replace: "000", zeroGroupReversed | split: "" | reverse | join: "" %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      <div class="app_logo">
        <img src="{{ post.icon }}" class="app_logo" alt="Wallet Logo">
      </div>
      <div class="app_info_box">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a>
          <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
        <span style="font-size: smaller">
          <br>
          {{ prettyUserCount }} total downloads.
          <br>
          {% if post.wip %}
            We still have to analyze this wallet.
          {% elsif theBad != "none" %}
            <font style="color: red">{{ theBad }}</font>
          {% else %}
            {% if post.verifiable %}
              <font style="color: green">This app can be verified!</font>
              {% if post.bugbounty %}
                <br>
                <font style="color: green">Bug bounty program</font>
              {% endif %}
            {% endif %}
          {% endif %}
          <br>Links:
          <a href="https://play.google.com/store/apps/details?id={{ post.appId }}">Google Play</a>
          {% if post.repository %}
            , <a href="{{ post.repository }}">source code</a>
          {% endif %}
        </span>
      </div>
    </h2>
  </article>
</div>
