<div class="masthead" {% if site.environment == "development" %}
  style="background-color: #83ae23"
{% endif %}>
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <a class="masthead-logo-link" href="{{ site.baseurl }}/" alt="{{ site.title }}"><div class="masthead-logo" alt="{{ site.title }}" title="{{ site.title }}" ></div></a>
      {% if include.is_home == false %}
      <div class="wallet-search">
        <input class="searchbar" type="text" placeholder="Search wallet reviews..." />
        <div class="search-controls">
          {% include icon.html name="circle-notch" %}
          {% include icon.html name="xmark" class="reset-search" %}
        </div>
        <ul class="search-results results-target exit-search-target"></ul>
      </div>
      {% else %}
      <div class="desktop-only"></div>
      {% endif %}
      <nav id="site-nav" class="greedy-nav">
        <div class="mobile-search-shortcut">{% include icon.html name="magnifying-glass" %}</div>
        <ul class="visible-links">
          <!-- <li class="masthead__menu-item masthead__menu-item--lg"></li> -->
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li><a class="theme-parent no-hover notifications-indicator" style="display: none; color: red;" onclick="showNotifications()" title="Notifications">{% include icon.html name="bell" %}</a></li>
          <li><a class="theme-parent no-hover" onclick="toggleTheme()" title="Toggle light/dark website theme">{% include icon.html name="moon" %}{% include icon.html name="sun" %}</a></li>
        </ul>
        <button><div class="navicon"></div></button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div> 
</div>

<div id="loadingSpinner" style="display: none;">
  <div class="spinner"></div>
</div>

<div id="notificationsPanel" class="notifications-panel" style="display: none;">
  <div class="notifications-header">
    <h3>Notifications</h3>
    <button class="close-notifications" onclick="hideNotifications()">{% include icon.html name="xmark" %}</button>
  </div>
  <div class="notifications-list"></div>
</div>

<script src="{{ site.baseurl }}/assets/js/masthead.js"></script>
