<script type="text/javascript" src="{{ site.baseurl }}/assets/js/color-thief.umd.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/fewWallets.js"></script>
<script>
  (function() {
    const script = document.createElement('script');
    script.onload = () => {
      window.allWalletsLoaded = true;
      window.dispatchEvent(new CustomEvent("allWalletsLoaded"));
    };
    script.src = '{{ site.baseurl }}/allWallets.js';
    (document.body || document.documentElement).appendChild(script);
  })();
</script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/walletsJSON.js"></script>
