{% include base_path %}

<script type="text/javascript" src="{{ base_path }}/assets/js/color-thief.umd.js"></script>
<script type="text/javascript" src="{{'/dist/dom_sanitization.bundle.min.js' | relative_url }}"></script>

<script>
  // Load verifications_data.bundle.min.js asynchronously and then
  // trigger the verificationsDataLoaded event and load verifications_ui.bundle.min.js,
  // which will trigger the verificationsUILoaded event.
  const verificationsScript = document.createElement('script');

  verificationsScript.onload = () => {
    window.dispatchEvent(new CustomEvent("verificationsDataLoaded"));

    (async function() {
      await nostrConnect();
      window.allAssetInformation = await getAllAssetInformation({months: 6});
      window.dispatchEvent(new CustomEvent("allAssetInformationLoaded"));
      loadDraftVerificationsNotifications();
    })();

    // Load verifications_ui.bundle.min.js asynchronously and then trigger the verificationsUILoaded event
    const verificationsUIScript = document.createElement('script');

    verificationsUIScript.onload = () => {
      window.dispatchEvent(new CustomEvent("verificationsUILoaded"));
    };

    verificationsUIScript.src = '{{ base_path }}/dist/verifications_ui.bundle.min.js';
    document.body.appendChild(verificationsUIScript);
  };

  verificationsScript.src = '{{ base_path }}/dist/verifications_data.bundle.min.js';
  document.body.appendChild(verificationsScript);
</script>

{% if page.url == "/" %}
<script type="text/javascript" src="{{ base_path }}/assets/js/ui-components.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/landingPageWalletGrid.js"></script>
{% endif %}

<script type="text/javascript" src="{{ base_path }}/fewWallets.js"></script>
<script>
  window.addEventListener('load', function() {
    const script = document.createElement('script');
    script.onload = () => {
      window.dispatchEvent(new CustomEvent("allWalletsLoaded"));
    };
    script.src = '{{ base_path }}/allWallets.js';
    document.body.appendChild(script);
  });
</script>
<script type="text/javascript" defer src="{{ base_path }}/assets/js/searchWallets.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/walletsJSON.js"></script>
<script type="text/javascript" src="{{ base_path }}/dist/jquery.bundle.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/walletlist.js"></script>
