<!-- begin SEO -->
{% assign page_url = page.url | replace: "/index.html", "/" | replace: "index.html", "" %}
{% if site.url %}
  {% assign seo_url = site.url | append: site.baseurl %}
{% endif %}
{% assign seo_url = seo_url | default: site.github.url %}
{% if seo_url %}
  {% assign canonical_url = page_url | prepend: seo_url %}
{% endif %}

{% if page.title %}
  {% assign seo_title = site.title | append: " " | append: site.title_separator | append: " " | append: page.title | strip_newlines | escape_once %}
  {% case page.collection %}
    {% when 'mobile' %}
      {% assign seo_title = seo_title | append: " for mobile" %}
    {% when 'desktop' %}
      {% assign seo_title = seo_title | append: " for desktop computers" %}
    {% when 'hardware' %}
      {% assign seo_title = seo_title | append: " hardware wallet" %}
  {% endcase %}
{% endif %}

{% assign og_title = page.title | default: site.title | strip_newlines | escape_once %}

<title>{{ seo_title | default: site.title | escape }}</title>

{% if site.og_image %}
  {% assign og_image = site.og_image | prepend: "/images/" | prepend: site.url %}
{% endif %}

{% assign review_prefix = "Review of " | append: page.title %}
{% case page.collection %}
  {% when 'mobile' %}
    {% assign og_app_id = page.android.appId | default: page.iphone.appId | default: page.appId %}
    {% if og_app_id %}
      {% assign og_image = site.url | append: "/images/social/android/" | append: og_app_id | append: ".png" %}
    {% endif %}
    {% if page.android.verdict and page.iphone.verdict and page.android.verdict != page.iphone.verdict %}
      {% assign seo_description = review_prefix | append: " (Android verdict: " | append: page.android.verdict | append: ", iPhone verdict: " | append: page.iphone.verdict | append: ")" %}
    {% elsif page.android.verdict or page.iphone.verdict %}
      {% assign seo_description = review_prefix | append: " (verdict: " | append: page.android.verdict | default: page.iphone.verdict | append: ")" %}
    {% endif %}
  {% when 'bearer', 'hardware', 'desktop' %}
    {% assign og_image = site.url | append: "/images/social/" | append: page.collection | append: "/" | append: page.appId | append: ".png" %}
    {% assign seo_description = review_prefix | append: " (verdict: " | append: page.verdict | append: ")" %}
  {% else %}
    {% assign seo_description = page.description | default: page.excerpt | default: site.description %}
    {% if seo_description %}
      {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once %}
    {% endif %}
{% endcase %}

<meta property="og:locale" content="{{ site.locale | default: "en" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ og_title }}">

{% if canonical_url %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta property="og:url" content="{{ canonical_url }}">
{% endif %}

{% if seo_description %}
  <meta property="og:description" content="{{ seo_description }}">
{% endif %}

{% if og_image %}
  <meta property="og:image" content="{{ og_image }}">
{% endif %}

<meta name="twitter:site" content="@WalletScrutiny">
<meta name="twitter:card" content="{% if og_image %}summary_large_image{% else %}summary{% endif %}">

{% if page.date %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

{% if og_image %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": {{ seo_url | jsonify }},
      "logo": {{ og_image | jsonify }}
    }
  </script>
{% endif %}
<!-- end SEO -->
