<style>
  #shareModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #share-modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
  }
  #shareTextarea {
    width: 100%;
    height: 6em;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .share-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .close {
    color: #535353;
    float: right;
    font-size: 44px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -23px;
  }
  .close:hover {
    color: black;
  }
  #share-modal-content h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .shareButtonNetwork {
      float: left;
      text-decoration: none !important;
    }
</style>

{% if include.showRawButtons == true %}

{% else %}
  <style>
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #007bff;
      min-width: 230px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 4px;
    }
    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    .dropdown-content a:hover {
      color: white;
      background-color: #0056b3;
      width: 100%;
      border-radius: 4px;
    }
    .show {
      display: block;
    }
  </style>  
{% endif %}

{% assign nostrButton = '<a href="#" id="shareNostrBtn" class="btn btn-info shareButtonNetwork">
  <img src="/images/nostr_logo.svg" style="width: 25px; height: 25px; margin-right: 10px; margin-left: -3px;" alt="Nostr Logo">
  Share on Nostr
</a>' %}

{% assign xButton = '<a href="#" id="shareXBtn" class="btn btn-info shareButtonNetwork">
  <img src="/images/x_logo.svg" style="width: 21px; height: 21px; margin-right: 10px; margin-top: 3px;" alt="X Logo">
  Share on X
</a>' %}

{% assign fbButton = '<a href="#" id="shareFBBtn" class="btn btn-info shareButtonNetwork">
  <i class="fab fa-facebook" style="margin-right: 10px; font-size: 24px; vertical-align: middle;" aria-hidden="true"></i>
  Share on Facebook
</a>' %}

{% assign linkedinButton = '<a href="#" id="shareLinkedinBtn" class="btn btn-info shareButtonNetwork">
  <i class="fab fa-linkedin" style="margin-right: 10px; font-size: 24px; vertical-align: middle;" aria-hidden="true"></i>
  Share on LinkedIn
</a>' %}

{% if include.showRawButtons == true %}
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4><br>
  {% endif %}

  {{ nostrButton }}
  {{ xButton }}
  {{ fbButton }}
  {{ linkedinButton }}
{% else %}
  <div class="dropdown">
    <a href="#" id="shareBtn" class="btn btn-info">
      <i class="fas fa-share-alt" style="margin-right: 10px;font-size: medium;"></i>
      Share
    </a>
    <div id="shareDropdown" class="dropdown-content">
      {{ nostrButton}}
      {{ xButton }}
      {{ fbButton }}
      {{ linkedinButton }}
    </div>
  </div>
{% endif %}

<div id="shareModal">
  <div id="share-modal-content">
    <span class="close" id="closeShareModal">&times;</span>
    <h2>Share on Nostr</h2>
    <textarea id="shareTextarea" placeholder="Write your message here..."></textarea>
    <button class="btn btn-success share-button" id="shareButton">Share</button>
  </div>
</div>

<script>
  const shareModal = document.getElementById('shareModal');
  const shareModalContent = document.getElementById('share-modal-content');
  const closeShareModal = document.getElementById('closeShareModal');
  const shareButton = document.getElementById('shareButton');
  const shareBtn = document.getElementById('shareBtn');
  const shareDropdown = document.getElementById('shareDropdown');

  shareModalContent.style.background = window.theme === 'dark' ? '#2d2d2d' : '#e1e1e1';
  shareModalContent.style.color = window.theme === 'dark' ? 'white' : 'black';

  if (shareBtn) {
    shareBtn.onclick = function(e) {
      e.preventDefault();
      shareDropdown.classList.toggle("show");
    }
  }

  shareNostrBtn.onclick = function(e) {
    e.preventDefault();
    const currentUrl = window.location.href;
    document.getElementById('shareTextarea').value = `{{ include.defaultMessage }}\n\n{{ page.url | absolute_url }}`;
    shareModal.style.display = 'block';
    shareDropdown.classList.remove("show");
  }

  shareXBtn.onclick = function(e) {
    e.preventDefault();
    const text = encodeURIComponent(`{{ include.defaultMessage }}\n\n{{ page.url | absolute_url }}`);
    window.open(`https://twitter.com/intent/tweet?text=${text}`, '_blank');
    shareDropdown.classList.remove("show");
  }

  shareFBBtn.onclick = function(e) {
    e.preventDefault();
    const url = `{{ page.url | absolute_url }}`;
    window.open(`https://www.facebook.com/sharer/sharer.php?u=${url}`, '_blank');
    shareDropdown.classList.remove("show");
  }

  shareLinkedinBtn.onclick = function(e) {
    e.preventDefault();
    const url = `{{ page.url | absolute_url }}`;
    const text = `{{ include.defaultMessage }}`;
    window.open(`https://www.linkedin.com/feed/?shareActive=true&shareUrl=${url}&text=${text}`, '_blank');
    shareDropdown.classList.remove("show");
  }

  closeShareModal.onclick = function() {
    shareModal.style.display = 'none';
  }

  window.onclick = function(event) {
    if (!event.target.matches('#shareBtn')) {
      if (shareDropdown.classList.contains('show')) {
        shareDropdown.classList.remove('show');
      }
    }
    if (event.target == shareModal) {
      shareModal.style.display = 'none';
    }
  }

  shareButton.onclick = function() {
    const message = document.getElementById('shareTextarea').value;
    console.log('Sharing message:', message);
    try {
      createNostrNote(message);
      showToast('Note shared successfully!');
    } catch (error) {
      showToast('Error sharing note: ' + error.message, 'error');
    }
    shareModal.style.display = 'none';
  }
</script>