{% assign verdict = include.verdict %}
{% assign criteria = include.criteria %}
{% for criterion in criteria %}
  {% if verdict == criterion %}
    {% case verdict %}
    {% when "reproducible" %}
    {% when "diy" %}
    {% when "nobinary" %}
    {% else %}
      {% assign count = count | minus: 1 %}
      {% capture failText %}<br>We stopped asking questions after we encountered a <a href="#{{criterion}}">failed answer</a>.{% endcapture %}
      {% break %}
    {% endcase %}
  {% endif %}
  {% if count == criteria.size %}
    {% break %}
  {% endif %}
  {% assign count = count | plus: 1 %}
{% endfor %}