<div class="verdictMethodology">
<div class="badge">{% include verdictBadge.html verdict=include.verdict type='short' %}</div>
<h2>{{ site.data.verdicts[include.verdict].question }}</h2>

If the answer is "no", we mark it as "<strong>{{ site.data.verdicts[include.verdict].title }}</strong>".

<div class="details">
{{ site.data.verdicts[include.verdict].details | markdownify }}
{% if site.data.verdicts[include.verdict].redflag and page.url != "/methodology/" %}
  <strong>The product cannot be independently verified. If the provider puts your funds at
  risk on purpose or by accident, you will probably not know about the issue
  before people start losing money. If the provider is more criminally inclined
  he might have collected all the backups of all the wallets, ready to be
  emptied at the press of a button. The product might have a formidable track record
  but out of distress or change in management turns out to be evil from some
  point on, with nobody outside ever knowing before it is too late.</strong>
{% endif %}
</div>
</div>
