<h1 id="verdictExplained">Verdict Explained</h1>
<p>{% include verdictBadge.html verdict=page.verdict type='medium' %}<br><br>
{{ site.data.verdicts[page.verdict].message }}</p>

{{ site.data.verdicts[page.verdict].explanation | markdownify }}

{% if site.data.verdicts[page.verdict].redflag %}
  The app cannot be independently verified. If the provider puts your funds at
  risk on purpose or by accident, you will probably not know about the issue
  before people start losing money. If the provider is more criminally inclined
  he might have collected all the backups of all the wallets, ready to be
  emptied at the press of a button. The app might have a formidable track record
  but out of distress or change in management turns out to be evil from some
  point on, with nobody outside ever knowing before it is too late.
{% endif %}
