{% assign verdict = include.verdict %}
{% assign platform = include.platform %}
{% assign meta = include.meta %}
{% assign criteria = "" %}

{% if meta != "ok" %}
  {% assign platformCriteria = site.data.platformMeta[platform].verdicts | concat: site.data.platformMeta[platform].metas %}
{% else %}
  {% assign platformCriteria = site.data.platformMeta[platform].verdicts %}
{% endif %}

{% for c in platformCriteria %}
  {% if site.data.verdicts[c].pass %}
    {% if criteria.size > 0 %}
      {% assign criteria = criteria | append: ',' %}
    {% endif %}
    {% assign criteria = criteria | append: c %}
  {% endif %}
{% endfor %}

{% assign criteria = criteria | split: ',' %}

{% if include.verdict == 'wip' %}
  {% assign count = 0 %}
  {% capture failText %}<br>We did not or were not able to perform any tests.{% endcapture %}
{% else %}
  {% assign count = 1 %}
  {% for criterion in criteria %}
    {% if verdict == criterion %}
      {% case verdict %}
      {% when "reproducible" %}
      {% when "diy" %}
      {% when "nobinary" %}
      {% else %}
        <!-- {% assign count = count | minus: 1 %} -->
        {% capture failText %}<br>We stopped asking questions after we encountered a <a href="#{{criterion}}">failed answer</a>.{% endcapture %}
        {% break %}
      {% endcase %}
    {% endif %}
    {% if count == criteria.size %}
      {% break %}
    {% endif %}
    {% assign count = count | plus: 1 %}
  {% endfor %}
{% endif %}
