{%- assign platform = include.platform -%}
{%- assign verdict = include.verdict -%}

{%- assign criteria = "" | split: "" -%}
{%- for c in site.data.platformMeta[platform].verdicts -%}
  {%- if site.data.verdicts[c].pass -%}
    {%- assign c_array = c | split: "," -%}
    {%- assign criteria = criteria | concat: c_array -%}
  {%- endif -%}
{%- endfor -%}
{%- assign count = 0 -%}
{%- if verdict == 'wip' -%}
  {%- capture failText -%}<br>We did not yet perform any tests.{%- endcapture -%}
{%- else -%}
  {%- for criterion in criteria -%}
    {%- if verdict == criterion -%}
      {%- case verdict -%}
        {%- when "sourceavailable", "diy" -%}
        {%- assign count = count | plus: 1 -%}
      {%- else -%}
        {%- capture failText -%}<br>We stopped asking questions after we encountered a <a href="#{{criterion}}">failed answer</a>.{%- endcapture -%}
        {%- break -%}
      {%- endcase -%}
    {%- endif -%}
    {%- if count == criteria.size -%}
      {%- break -%}
    {%- endif -%}
    {%- assign count = count | plus: 1 -%}
  {%- endfor -%}
{%- endif -%}