.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  width: 990px;

  .hero-text {
    max-width: 75%;
    margin: auto;
    display: grid;
    gap: 25px;
    h1,
    h2,
    p {
      margin: 0;
      text-align: center;
    }
    h1{
      font-weight: 600;
      font-size: 48px;
    }
    h2{
      font-weight: 600;
      font-size: 24px;
    }
    p{
      font-weight: 300;
      font-size: 21px;
    }
    .link-organiser {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
    }
  }
}

.light {
  .hero {
    &::after {
      background-image: url(/images/is-your-bitcoin-wallet-secure-light.svg);
    }
  }
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  top: 45px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
  a {
    cursor: pointer;
    margin: 0 !important;
    padding: 5px 30px;
    * {
      margin-block-start: 0.33em;
      margin-block-end: 0.33em;
    }
    text-align: left;
    text-decoration: none;
    color: #777;
    font-weight: normal;
    &:hover {
      background: #ddd;
      color: #444;
    }
  }
}

.dropped_l {
  display: block;
  text-align: right;
  padding: 10px 0px;
}

.dropdown {
  cursor: pointer;
  span {
    display: inline-block;
    font-weight: 800;
    font-size: 22px;
    padding: 0 4px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}

.stamps {
  display: grid;
  gap: 5px;
}
.stamps span,
.stamp span {
  &::after {
    content: attr(data-text);
    color: var(--text);
    // text-transform: uppercase;
  }
  &::before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px -1.5px;
    margin-right: 5px;
    display: none;
  }
  &.stamp-reproducible {
    &::before {
      content: "";
      display: inline-block;
      height: 10px;
      width: 10px;
      background: var(--accent);
      border-radius: 5px;
      box-shadow: 0 0 5px var(--accent);
      margin-right: 5px;
      display: none;
    }
  }
}

.article-link {
  text-decoration: none;
  margin-top: 8px;
  display: inline-block;
  font-weight: 600;
  text-align: right;
  width: calc(100% - 20px);
  margin-left: 10px;
  &:hover {
    color: var(--accent);
  }
  @media (max-width: 500px) {
    text-align: center;
    background: var(--accent-text);
    color: var(--permanent-white);
    padding: 8px;
    width: 100%;
    margin-left: 0;
    border-radius: 5px;
    &:hover {
      color: var(--permanent-white);
      background: var(--accent);
    }
    i {
      display: none;
    }
  }
}

.flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px 1px;
  &.social-row {
    margin-top: 0px;
  }
}

.page__inner-wrap {
  &:not(.home) {
    max-width: 860px;
  }
  margin: auto !important;
  float: unset !important;
}
