.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  &::before {
    content: "";
    position: absolute;
    height: 340px;
    aspect-ratio: 1/1;
    display: block;
    background-image: radial-gradient(var(--accent) 9%, transparent 9%);
    background-size: 13px 13px;
    background-repeat: repeat;
    z-index: -1;
    right: 0;
    bottom: 0;
  }
  &::after {
    background-image: url(/images/is-your-bitcoin-wallet-secure-dark.svg);
    height: 500px;
    aspect-ratio: 1/1;
    content: "";
    max-height: 45vw;
    display: block;
    background-size: contain;
  }
  &::after,
  &::before {
    @media (max-width: 650px) {
      display: none;
      content: unset;
    }
  }
}

.light {
  .hero {
    &::after {
      background-image: url(/images/is-your-bitcoin-wallet-secure-light.svg);
    }
  }
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  top: 45px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
  a {
    cursor: pointer;
    margin: 0 !important;
    padding: 5px 30px;
    * {
      margin-block-start: 0.33em;
      margin-block-end: 0.33em;
    }
    text-align: left;
    text-decoration: none;
    color: #777;
    font-weight: normal;
    &:hover {
      background: #ddd;
      color: #444;
    }
  }
}

.dropped_l {
  display: block;
  text-align: right;
  padding: 10px 0px;
}

.dropdown {
  cursor: pointer;
  span {
    display: inline-block;
    font-weight: 800;
    font-size: 22px;
    padding: 0 4px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}

.stamps {
  display: grid;
  gap: 5px;
}
.stamps span,
.stamp span {
  &::after {
    content: attr(data-text);
    color: var(--text);
    text-transform: uppercase;
  }
  &::before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px -1.5px;
    margin-right: 5px;
  }
  &.stamp-reproducible {
    &::before {
      content: "";
      display: inline-block;
      height: 10px;
      width: 10px;
      background: var(--accent);
      border-radius: 5px;
      box-shadow: 0 0 5px var(--accent);
      margin-right: 5px;
    }
  }
}
