:root,
.light {
  --neutral-7: #ffffff;
  --neutral-6: #f4f4f4;
  --neutral-5: #d9d9d9;
  --neutral-4: #bbbbbb;
  --neutral-3: #808080;
  --neutral-2: #606060;
  --neutral-1: #404040;
  --neutral-0: #000000;
  --accent: #16b9b1;
  --accent-text: #1CAAA2;
  --accent-50: rgba(28, 171, 164, .1);
  --rust: #af2900;
  --indifferent: #3d506d;
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-1: rgba(0, 0, 0, 0.05);
  --light-grey: #fafafa;
  --white: var(--neutral-7);
  --dark-grey: #222;
  --nav: var(--neutral-5);
  --nav-contrast: var(--neutral-6);
  --body: var(--neutral-6);
  --body-50: rgba(238, 238, 238, 0.6);
  --transparent: rgba(238, 238, 238, 0);
  --text: var(--neutral-1);
  --gauze: rgba(255, 255, 255, 0.7);
  --cb-red: #880000;
  --permanent-black: var(--neutral-1);
  --permanent-white: var(--neutral-6);
  --green-notify-background: #b5fdb5;
  --red-notify-background: #fdb5b5;
  --blue-notify-background: #d0d0ff;
  --orange: #f7931a;
  --blue: #003395;
  --light-blue: #0064ff;
  --reproducible-badge: url(/images/reproducible-2-dark.svg);
  --masthead-text: var(--neutral-0);
}

.light {
  --hide-light: none;
  --hide-dark: unset;
}

.dark {
  --accent: #12bd95;
  --accent-text: #1CAA89;
  --accent-50: rgba(28, 170, 137, .1);
  --rust: #b32a00;
  --indifferent: #5b82bf;
  --shadow-3: rgba(255, 255, 255, 0.2);
  --shadow-2: rgba(255, 255, 255, 0.1);
  --shadow-1: rgba(255, 255, 255, 0.05);
  --light-grey: #222;
  --nav: #000;
  --nav-contrast: #000;
  --white: #232323;
  --dark-grey: #fafafa;
  --body: #111;
  --body-50: rgba(17, 17, 17, 0.6);
  --transparent: rgba(17, 17, 17, 0);
  --text: #d2d2d2;
  --hide-dark: none;
  --hide-light: unset;
  --gauze: rgba(0, 0, 0, 0.7);
  --cb-red: #df7d00;
  --permanent-black: #000;
  --permanent-white: #e2e2e2;
  --green-notify-background: #00b900;
  --red-notify-background: #b90000;
  --blue-notify-background: #101040;
  --orange: #f7931a;
  --blue: #a0b6f9;
  --reproducible-badge: url(/images/reproducible-2-light.svg);
  --masthead-text: #fff;
  --neutral-6: #2e2e2e;
  --neutral-5: #434343;
  --neutral-4: #727272;
  --neutral-3: #979797;
}

.grey {
  :root {
    // --shadow-1: var(--wallet-gradient);
  }
  .searchbar {
    // --white: var(--wallet-gradient);
  }
}
.vibrant {
  --shadow-1: var(--wallet-gradient);
  &[data-colour-available="true"] {
    .searchbar {
      --white: var(--wallet-gradient, --white);
    }
    .masthead {
      box-shadow: none;
      background-color: var(--wallet-gradient);
    }
  }
  .opened.AppDisplayCard {
    background-image: linear-gradient(transparent, var(--white) 50%),
      radial-gradient(ellipse at top, var(--wallet-gradient-2), var(--white));
    background-color: var(--white);
  }
  .app-review {
    &::after {
      content: "";
      background: linear-gradient(transparent, var(--body) 50%),
        radial-gradient(ellipse at top, var(--wallet-gradient), var(--body));
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      display: block;
      opacity: 0.5;
    }
  }
}
