:root, .light {
  --neutral-7:#ffffff;
  --neutral-6:#f4f4f4;
  --neutral-5:#d9d9d9;
  --neutral-4:#BBBBBB;
  --neutral-3:#808080;
  --neutral-2:#606060;
  --neutral-1:#404040;
  --neutral-0:#000000;
  --accent: rgb(97, 200, 97);
  --accent-text: #4da84d;
  --rust: #af2900;
  --indifferent: #3d506d;
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-1: rgba(0, 0, 0, 0.05);
  --light-grey: #fafafa;
  --white: var(--neutral-7);
  --dark-grey: #222;
  --nav: var(--neutral-5);
  --nav-contrast: var(--neutral-6);
  --body: var(--neutral-6);
  --body-50: rgba(238, 238, 238, .6);
  --transparent: rgba(238, 238, 238, 0);
  --text: var(--neutral-1);
  --gauze: rgba(255, 255, 255, 0.7);
  --cb-red: #880000;
  --permanent-black: var(--neutral-1);
  --permanent-white: var(--neutral-6);
  --green-notify-background: #b5fdb5;
  --red-notify-background: #fdb5b5;
  --blue-notify-background: #d0d0ff;
  --orange: #F7931A;
  --blue: #003395;
  --light-blue: #0064ff;
  --reproducible-badge: url(/images/reproducible-2-dark.svg);
  --masthead-text: var(--neutral-0);
}

.light {
  --hide-light: none;
  --hide-dark: unset;
}

.dark {
  --accent: rgb(97, 200, 97);
  --accent-text: #4da84d;
  --rust: #b32a00;
  --indifferent: #5b82bf;
  --shadow-3: rgba(255, 255, 255, 0.2);
  --shadow-2: rgba(255, 255, 255, 0.1);
  --shadow-1: rgba(255, 255, 255, 0.05);
  --light-grey: #222;
  --nav: #000;
  --nav-contrast: #000;
  --white: #232323;
  --dark-grey: #fafafa;
  --body: #111;
  --body-50: rgba(17, 17, 17, .6);
  --transparent: rgba(17, 17, 17, 0);
  --text: #d2d2d2;
  --hide-dark: none;
  --hide-light: unset;
  --gauze: rgba(0, 0, 0, 0.7);
  --cb-red: #df7d00;
  --permanent-black: #000;
  --permanent-white: #e2e2e2;
  --green-notify-background: #00b900;
  --red-notify-background: #b90000;
  --blue-notify-background: #101040;
  --orange: #F7931A;
  --blue: #a0b6f9;
  --reproducible-badge: url(/images/reproducible-2-light.svg);
  --masthead-text: #fff;
  --neutral-4:#727272;
  --neutral-3:#979797;
}
