/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  // border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;
  padding-bottom: 3px;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 5px 0;
    // padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}
.search-ui-active {
  .wallet-search {
    &::after {
      position: absolute;
      content: "";
      height: 100vh;
      width: 200vw;
      background: var(--body-50);
      top: 3rem;
      left: -100vw;
      z-index: -3;
      backdrop-filter: blur(10px);
    }
  }
}
.dark {
  .masthead__menu .wallet-search .searchbar {
    opacity: 1;
  }
}
.masthead__menu {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 15px 40px;
  align-items: center;
  max-width: 100vw;
  padding-top: 5px;
  .wallet-search {
    color: var(--accent-text);
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    max-width: 550px;
    margin: auto;
    .searchbar {
      font-size: 1rem;
      padding: 5px 10px;
      height: 35px;
      width: calc(100% - 2px);
      margin: auto;
      position: relative;
      box-shadow: 0 0 0 0;
      border-radius: 3px;
      opacity: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      transition: 0.1s linear;
      border: none;
      background: var(--accent-50);
      color: var(--accent);
      &:focus,
      &:active {
        outline: none;
        opacity: 1;
        box-shadow: 0 0 0 1px;
        &::after {
          opacity: 0;
        }
      }
      &::after {
        pointer-events: none;
        content: "Search wallet reviews...";
        opacity: 0.4;
        position: absolute;
        margin: auto;
        margin-left: 5px;
        transition: 0.1s linear;
      }
    }
    &.active,
    &.edited {
      .searchbar {
        opacity: 1;
        box-shadow: 0 0 0 1px var(--text);
        &::after {
          opacity: 0;
          content: "";
        }
      }
    }
    .search-controls {
      position: absolute;
      right: 10px;
      display: flex;
      gap: 15px;
      align-items: center;
      color: var(--accent-text);
      padding-left: 10px;
      i {
        display: none;
        cursor: pointer;
      }
      &.working {
        .fa-circle-notch {
          display: inline-block;
          animation: loader-spin 1s linear forwards infinite;
        }
      }
      &.edited {
        .fa-times {
          display: inline-block;
        }
      }
      &.hint-return {
        i.enter {
          display: inline-block;
          &::before {
            font-style: normal;
            content: attr(data-symbol);
          }
        }
      }
    }
    .search-results {
      margin: 0;
      list-style: none;
      padding: 0;
      max-height: 40vh;
      grid-column: 1/3;
      grid-row: 2/3;
      overflow: hidden scroll;
      background: var(--neutral-6);
      box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      scrollbar-width: thin;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      li {
        padding: 15px 10px;
        margin: 0;
        position: relative;
        z-index: 1;
        &:not(:last-child) {
          box-shadow: 0px 1px 0px 0px var(--neutral-5);
        }
        &.actionable {
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              opacity: 0;
              transform: translateX(20px);
              animation: slideAcrossFadeIn 0.2s ease-in forwards 1;
            }
          }
          @keyframes slideAcrossFadeIn {
            to {
              opacity: 1;
              transform: translateX(0px);
            }
          }
          a {
            transition: .1s linear;
            &:hover {
              .result-title-wrapper {
                color: var(--accent-text) !important;
              }
            }
          }
        }
        .icon-wrapper {
          display: flex;
          background-color: var(--nav-contrast);
          height: 50px;
          width: 50px;
          border-radius: 15%;
          overflow: auto;
          .wallet-icon {
            max-height: 50px;
            max-width: 50px;
          }
        }
        .result-title-wrapper {
          display: grid;
          > span {
            font-size: 17px;
            font-weight: 500;
          }
          small {
            font-size: 13px;
            line-height: 13px;
            opacity: 0.6;
            margin-top: 5px;
          }
        }
        &:hover,
        &:active,
        &:not(:last-child):hover,
        &:not(:last-child):active {
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 2px;
            top: 0;
            left: 0;
            z-index: 0;
            animation: highlightListItem 0.2s ease forwards 1;
          }
        }
        &:last-child:hover,
        &:last-child:active {
          box-shadow: inset 4px 0 0 0 var(--accent-text);
        }
        &:active {
          background: var(--accent);
          *{
            color: var(--permanent-black) !important;
          }
        }
        @keyframes highlightListItem {
          from {
            box-shadow: inset 0px 0 0 0 var(--accent-text), 0px 0px 0px 0px var(--shadow-2, rgba(0, 0, 0, 0.2));
          }
          to {
            box-shadow: inset 4px 0 0 0 var(--accent-text), 0px 1px 0px 0px var(--shadow-2, rgba(0, 0, 0, 0.2));
          }
        }
      }
      &.visible {
        background: var(--neutral-6);
        top: calc(100% + 9px);
        width: 550px;
        max-height: 400px;
        overflow: scroll;
        max-width: 100vw;
        border-radius: 0 0 5px 5px;
      }
    }
  }
  .mobile-search-shortcut {
    display: none;
  }
  @media (max-width: 700px) {
    // CHILD OF MASTHEAD
    grid-template: 1fr auto / 1fr auto;
    .search-results {
      &.visible {
        max-height: calc(100vh - 6rem) !important;
        height: auto;
      }
    }
    .wallet-search {
      display: none;
      @media (max-width: 500px) {
        display: grid;
        grid-column: 1/3;
        grid-row: 2/3;
        max-width: 90vw;
        margin: auto;
      }
      &.mobile-active {
        display: grid;
        grid-column: 1/3;
        grid-row: 2/3;
        max-width: 90vw;
        margin: auto;
      }
    }
    .mobile-active {
      .wallet-search {
        display: grid;
      }
    }
    .mobile-search-shortcut {
      @media (max-width: 500px) {
        opacity: 0;
        pointer-events: none;
      }
      display: block;
      height: 2rem;
      margin: auto auto auto 1.5rem;
      line-height: 1rem;
      width: 2rem;
      text-align: center;
      padding: 0.5rem;
      &.active {
        box-shadow: 0 0 0 2px;
        border-radius: 3px;
      }
    }
  }

  ul {
    margin: 0 0 0 auto;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.light {
  .masthead-logo {
    &::before {
      background-image: url(/images/dog-logo.svg);
    }
    &::after {
      content: "WalletScrutiny";
    }
  }
}
.masthead-logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 9px;
  &::before {
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    height: 35px;
    width: 35px;
    background-image: url(/images/dog-logo-light.svg);
  }
  &::after {
    content: "WalletScrutiny";
    display: block;
    line-height: 1;
    font-size: 21px;
    color: var(--accent-text);
  }
}

.masthead-logo-link:hover {
  border: 0;
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
