$svg-font-family: "svg" !default;
$svg-font-path: "/assets/fonts/custom-icons" !default;

$i-device-stroke: "\e90a";
$i-btc-stroke: "\e910";
$i-arrows-thin: "\e912";
$i-arrows: "\e917";
$i-all-devices: "\e900";
$i-all-devices-stroke: "\e901";
$i-wallet-stroke: "\e914";
$i-wallet: "\e915";
$i-visible-stroke: "\e916";
$i-reproducible: "\e902";
$i-app-store: "\e903";
$i-app-store-stroke: "\e904";
$i-info-circle-green-path1: "\e905";
$i-info-circle-green-path2: "\e906";
$i-info-circle-green-path3: "\e907";
$i-code: "\e908";
$i-github: "\e909";
$i-visible: "\e90b";
$i-ios: "\e90c";
$i-android: "\e90d";
$i-key-stroke: "\e90e";
$i-key: "\e90f";
$i-device: "\e911";
$i-btc: "\e913";
$i-person-stroke: "\e918";
$i-person: "\e919";

