<!-- Drag-and-Drop-Area Start -->
<div id="drop-area">
    <form class="my-form">
        <span class="drop-text">Drop file to verify</span>
        <input type="file" id="fileElem" style="display: none;" />
        <div id="select" class="hover-mode">
        <br />
        <span>or</span>
        <br />
        <label class="button" for="fileElem">Select a file</label>
        </div>  
    </form>
    <div id="file-list">
        <div id="app-data" class="textbox"></div>
        <div id="file-info" class="textbox"></div>          
        <div id="redirect-button" class="info-section"></div>
    </div>
</div>
<!-- Drag-and-Drop-Area End -->

<script src="{{ '/dist/dragAndDrop.bundle.min.js' | relative_url }}"></script>