<h2>We’re focused on one security feature above all others. This page explains why and how.</h2>
<p>
  Put simply, we search for wallets with the potential to empty all of their users’ funds at once. This scenario is
  possible if the wallet provider or a malicious actor can obtain a copy of all their users’ wallet backups and thus
  access all funds simultaneously. Once the number of accessible coins stops growing, this hypothetical wallet provider
  could seize everyone’s coins at once. This is known as a <a href="https://medium.com/@michaelflaxman/how-should-i-store-my-bitcoin-43874ac208e4">“retirement attack"</a>, and it’s what we are primarily concerned
  with stopping.</p>
<h2>
  What we don’t do</h2>
<ul>
  <li>We do not provide a security audit of wallets. Since any open-source wallet gets potentially audited all the time,
    and paid audits certainly help teams improve products, we focus on what receives less attention from auditors: the
    possibility for exit scams or other scenarios in which users could lose all their funds at once.</li>
  <li>We only care about licenses when all the source is public. Advocates of <a href="https://opensource.org/osd">Free and Open Source Software (FOSS)</a> argue
    that permissive licenses have security benefits since they allow projects to use code over and over, resulting in
    more scrutiny of that code. Since we strongly agree, we hope to cover licenses in the future.</li>
  <li>We do not endorse the security of any wallet.</li>
  <li>We do not guarantee that your wallet version is verified to match the public code or the version we investigated.
    A tool for that is under development. If version XYZ of a wallet is reproducible (what we’re looking for), you might
    still have received a different version than the one we reviewed. For example, Google lets developers slice versions
    by country, device brand, and individual users. You would have to compare the fingerprint of the binary on your
    device with the one reported here. This is even more complicated when it comes to hardware wallets.
  </li>
</ul>



<h2>Priorities</h2>

<p>We cannot re-evaluate every wallet upgrade whenever one is released. Since Wallet Scrutiny is a side project, we
  might only be able to update intermittently.
</p>
<p>When we update reviews, we do so as follows:</p>

<ol>
  <li>Re-evaluate new releases of REPRODUCIBLE wallets as they become available. If users opt for a wallet because it is
    reproducible, they should wait for this re-evaluation before updating
  </li>
  <li>Determine if any UNREPRODUCIBLE wallets updated issue in their repositories
  </li>
  <li>Make general improvements to the platform
  </li>
  <li>Evaluate the most relevant WORK IN PROGRESS wallets
  </li>
</ol>

<h2>Wrap it up</h2>
<p>In the end, we report our findings. Our estimate considers all wallets that fail the above priorities high risk.
  However, we may contact the wallet provider, find out what went wrong, and report on the communication.</p>
<p>In the end, even if we conclude isn’t trustworthy, this doesn’t mean it was out to steal your coins. It just means
  that we are confident that with enough criminal ambition, someone could use this wallet to steal its users funds. </p>
