{% assign verdict = include.verdict %}

{% if include.type == 'verdict' %}
  {% assign verdictGroups = site.data.verdictGroups %}
  {% assign titleText = '' %}
  {% for v in verdictGroups %}
    {% assign iterationCount = 0 %}
    {% for ver in v.verdicts %}
      {% if ver == verdict %}
        {% if iterationCount == 0 %}
          {% include /methodology/section_title_icon.html verdict=verdict title=v.abstract %}
        {% endif %}
      {% endif %}
      {% assign iterationCount = iterationCount | plus: 1 %}
    {% endfor %}
  {% endfor %}

{% elsif include.type == 'meta' %}

<div class="section-title">
  <i class="circle" style="display: flex; align-items: center; justify-content: center;">
    <i class="fas fa-exclamation-triangle" style="z-index: 2; font-size: 22px;"></i>
  </i>
  <h3>Metas</h3>
</div>

{% endif %}
