{% case include.verdict %}
  {% when 'wip' %}                {% assign iconClass="fas fa-square circle" %}
  {% when 'fewusers' %}           {% assign iconClass="fas fa-users circle" %}
  {% when 'nowallet' %}           {% assign iconClass="i-wallet circle" %}
  {% when 'nosendreceive' %}      {% assign iconClass="i-arrows circle" %}
  {% when 'custodial', 'noita' %} {% assign iconClass="i-key circle" %}
  {% when 'nosource' %}           {% assign iconClass="i-code circle" %}
  {% when 'sourceavailable' %}    {% assign iconClass="i-sourceavailable circle" %}
  {% when 'fake' %}               {% assign iconClass="fas fa-user-secret circle" %}
{% endcase %}

{% if iconClass %}
<div class="section-title">
    <i class="{{iconClass}}"></i>
    <h3>{{include.title}}</h3>
</div>
{% endif %}