{% case include.verdict %}
  {% when 'wip' %}                {% assign iconClass="fas fa-square" %}
  {% when 'fewusers' %}           {% assign iconClass="fas fa-users" %}
  {% when 'nowallet' %}           {% assign iconClass="i-wallet" %}
  {% when 'nosendreceive' %}      {% assign iconClass="i-arrows" %}
  {% when 'custodial', 'noita' %} {% assign iconClass="i-key" %}
  {% when 'nosource' %}           {% assign iconClass="i-code" %}
  {% when 'sourceavailable' %}    {% assign iconClass="i-sourceavailable" %}
  {% when 'fake' %}               {% assign iconClass="fas fa-user-secret" %}
{% endcase %}

{% if iconClass %}
<div class="section-title">
  <i class="circle" style="display: flex; align-items: center; justify-content: center;">
    <i class="{{iconClass}}" style="z-index: 2; font-size: 21px;"></i>
  </i>
  <h3>{{include.title}}</h3>
</div>
{% endif %}