/* barlow-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/Barlow/barlow-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Barlow/barlow-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Barlow/barlow-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/Barlow/barlow-v12-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Barlow/barlow-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Barlow/barlow-v12-latin-300.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Barlow/barlow-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Barlow/barlow-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Barlow/barlow-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/Barlow/barlow-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Barlow/barlow-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Barlow/barlow-v12-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/Barlow/barlow-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Barlow/barlow-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Barlow/barlow-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/Barlow/barlow-v12-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Barlow/barlow-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Barlow/barlow-v12-latin-500.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/Barlow/barlow-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Barlow/barlow-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Barlow/barlow-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/Barlow/barlow-v12-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Barlow/barlow-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Barlow/barlow-v12-latin-800.svg#Barlow') format('svg'); /* Legacy iOS */
}