.modal {
    overflow: hidden;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden; /* Ensures scrolling if content overflows */
    border: none;
    outline: none;
  }
  
  .modal-content {
    background-color: rgb(151, 151, 151);
    margin: 10% auto; /* Center the modal */
    margin-left: 550px;
    width: 100%; /* Adjust width for better fit */
    max-width: 1000px; /* Add a max width */
    max-height: 80%; /* Add a max height */
    overflow: auto; /* Scrollable content if too large */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 8px; /* Rounded corners */
    position: relative; /* Ensures close button stays visible */
  }
  
  .close {
    color: hsl(199, 83%, 43%);
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: black;
  }
  