<section class="about-section about-section--team" aria-labelledby="about-team-heading">
  <h2 id="about-team-heading" class="about-section__title">
    <span class="about-section__title-icon" aria-hidden="true"><i class="fas fa-user-friends"></i></span>
    Meet our core team
  </h2>

  <div class="about-team">
    {% assign team = "lw,dg,ml,em,ts" | split: "," %}
    {% for a in team %}
      {% assign author = site.authors | find: 'short', a %}
      {% assign avatar = author.avatar %}
      {% if avatar contains '://' %}
        {% assign prefix = '' %}
      {% elsif avatar.size > 0 %}
        {% assign prefix = "/images/" %}
      {% else %}
        {% assign prefix = "/images/avatarPlaceholder.jpg" %}
      {% endif %}

      <a href="{{ author.url }}" class="about-team-member" style="--team-index: {{ forloop.index }};">
        <span class="about-team-member__avatar" style="background-image:url({{ prefix }}{{ author.avatar }});"></span>
        <span class="about-team-member__name">{{ author.name }}</span>
        <span class="about-team-member__role">{{ author.role }}</span>
      </a>
    {% endfor %}
  </div>
</section>
