<h2>Meet our core team.</h2>

<div class="team">
{% assign authors = site.authors %}
<!-- % assign authors = authors | concat: site.contributors % -->

{% for author in authors %}

{% assign avatar = author.avatar %}
{% if avatar contains '://' %}
  {% assign prefix = '' %}
{% elsif avatar.size > 0 %}
  {% assign prefix = "/images/" %}
{% else %}
  {% assign prefix = "/images/avatarPlaceholder.jpg" %}
{% endif %}

<div class="team-member">
  <div class="image" style="background-image:url({{prefix}}{{author.avatar}});"></div>
  <h3>{{author.name}}</h3>
  <p>{{author.role}}</p>
</div>

{% endfor %}

</div>