---
layout: compress
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include_cached head.html %}
    {% include_cached head/custom.html %}
  </head>

  <body class="vibrant">
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include_cached footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
