---
layout: default
---

<div id="main" class="app-review" role="main">

  <!-- Optional: Expose appId to JavaScript -->
  <script>
    window.pageAppId = "{{ page.platformReview.appId }}";
  </script>

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <meta itemprop="headline" content="{{ page.title | escape }}">

    <div class="page__inner-wrap">
      <div class="app-summary-grid">
        {% if page.icon %}
          <img src="/images/wIcons/{{ page.platformReview.type }}/{{ page.icon }}" class="app_logo_big" alt="Custodian Logo">
        {% endif %}
        <div class="app-sum-head">
          <h1 class="page__title" itemprop="headline">{{ page.title | escape }}</h1>
        </div>
      </div>

      <section class="page__content" itemprop="text">
        {% include review/custodianFullReview.html
             custodian=page.custodian
             platformReview=page.platformReview %}
      </section>
    </div>
  </article>
</div>
