---
layout: default
---

<div id="main" class="app-review" role="main">
  <script>
    {% if page.wsId %}window.wsId="{{ page.wsId }}";{% endif %}
    {% if page.version %}window.wsVersion="{{ page.version }}";{% endif %}
  </script>

  <article class="page" style="float:{{ float }};" itemscope itemtype="http://schema.org/CreativeWork">
    <meta itemprop="headline" content="{{ page.altTitle | default: page.title | escape }}">
    {% if page.excerpt %}
      <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.date %}
      <meta itemprop="datePublished" content="{{ page.date | date: " %B %d, %Y" }}">{% endif %}
    {% if page.modified %}
      <meta itemprop="dateModified" content="{{ page.modified | date: " %B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      <div class="app-summary-grid">
        <img src="/images/wIcons/{{ page.collection }}/{{ page.icon }}" class="app_logo_big" alt="Wallet Logo">
        <div class="app-sum-head">

          <h1 class="page__title -va-c" itemprop="headline">
            {% if page.altTitle %}
              {{ page.altTitle }}<br><span style="font-size: 30%;opacity:.3">(Actually "{{ page.title }}". For details read below.)</span>
            {% else %}
              {{ page.title | escape }}
            {% endif %}
          </h1>
  
          <div class="secondary-text" id="version-number"></div>
        </div>
      </div>

      {% include /review/securityOverview.html wsId=page.wsId verdict=page.verdict meta=page.meta platform='desktop' filterPlatform='true' %}

      {% include /review/nostrOpinion.html %}

      <div class="article-after disclaimer">
        {% include /review/ownResearch.html %}
      </div>

      {% if page.share %}
      <div class="spacer x2"></div>

        <div class="tab-view">
          <div class="labels">
            <div class="label active" data-for="social-share" data-text="Share" data-suffix="on social media"></div>
            <div class="label" data-for="embed-widget" data-text="Embed" data-suffix="a widget on your website"></div>
            <div class="label" data-for="embed-image" data-text="Embed" data-suffix="an image on your website"></div>
          </div>
          <div class="payloads">
            <div class="social-share active" style="margin-bottom: 20px; align-items: center; gap: 10px;">{% include shareButton.html defaultMessage=defaultMessage showRawButtons=true %}</div>
            <div class="embed-widget">{% include embed_widget.html %}</div>
            <div class="embed-image">{% include embed_image.html %}</div>
          </div>
        </div>
      {% endif %}

    </div>
  </article>
</div>
