<div class="step application-build">
  {% if page.verdict == 'reproducible' %}
  <i class="i-reproducible circle"></i>
  {% else %}
  <i class="i-reproducible circle disabled"></i>
  {% endif %}
  <div class="title">
    <h3>Application build</h3>
    <p>
      {% assign v=site.data.verdicts[page.verdict] %}
      {{ v.message }}
      {% if page.issue %}
       <br><a href="{{page.issue}}">See the last Issue we created</a>.
      {% endif %}
    </p>
    <a class="" href="#result">See test result</a>

    {% if page.repository %}
      {% include getOldInfo.md %} 
      {% include /review/nostrAttestations.html %}
    {% endif %}
  </div>
</div>