<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div class="step developer">
  <i class="i-person circle"></i>
  <div class="title">
    <h3>Developer</h3>
    <p class="capitalise">
    {% if page.developerName %}
      {{page.developerName}}
    {% endif %}
    </p>
  </div>
  <div class="data">
    {% if page.website %}
      <a href="{{page.website}}" title="Website" target="_blank"><i class="fa-solid fa-up-right-from-square"></i> Website</a>
    {% endif %}
    {% if page.twitter %}

    <a href="https://twitter.com/{{page.twitter}}" title="Twitter" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
    {% endif %}
    {% if page.social %}
      {% for link in page.social %}
        {% if link contains "mailto:" %}
          {% assign name = "E-Mail" %}
        {% else %}
          {% assign domain = link | split: '/' | slice: 2 | join: "" | split: "." | slice: -2 | join: "" %}
          {% case domain %}
            {% when "bitcointalk" %}{% assign name = "Bitcoin Talk" %}{% assign icon = "fab fa-bitcoin" %}
            {% when "discord"     %}{% assign name = "Discord" %}{% assign icon = "fab fa-discord" %}
            {% when "facebook"    %}{% assign name = "Facebook" %}{% assign icon = "fab fa-facebook" %}
            {% when "github"      %}{% assign name = "GitHub" %}{% assign icon = "fab fa-github" %}
            {% when "google"      %}{% assign name = "Google" %}{% assign icon = "fab fa-google" %}
            {% when "instagram"   %}{% assign name = "Instagram" %}{% assign icon = "fab fa-instagram" %}
            {% when "keybase"     %}{% assign name = "Keybase" %}{% assign icon = "fab fa-keybase" %}
            {% when "linkedin"    %}{% assign name = "LinkedIn" %}{% assign icon = "fab fa-linkedin" %}
            {% when "medium"      %}{% assign name = "Medium" %}{% assign icon = "fab fa-medium" %}
            {% when "pinterest"   %}{% assign name = "Pinterest" %}{% assign icon = "fab fa-pinterest" %}
            {% when "reddit"      %}{% assign name = "Reddit" %}{% assign icon = "fab fa-reddit" %}
            {% when "slack"       %}{% assign name = "Slack" %}{% assign icon = "fab fa-slack" %}
            {% when "t"           %}{% assign name = "Telegram" %}{% assign icon = "fab fa-telegram" %}
            {% when "tiktok"      %}{% assign name = "tiktok" %}{% assign icon = "fab fa-tiktok" %}
            {% when "twitter"     %}{% assign name = "Twitter" %}{% assign icon = "fa-brands fa-x-twitter" %}
            {% when "vimeo"       %}{% assign name = "Vimeo" %}{% assign icon = "fab fa-vimeo" %}
            {% when "vk"          %}{% assign name = "VK" %}{% assign icon = "fab fa-vk" %}
            {% when "weibo"       %}{% assign name = "Weibo" %}{% assign icon = "fab fa-weibo" %}
            {% when "whatsapp"    %}{% assign name = "WhatsApp" %}{% assign icon = "fab fa-whatsapp" %}
            {% when "youtube"     %}{% assign name = "YouTube" %}{% assign icon = "fab fa-youtube" %}
            {% when "archive"     %}{% assign name = "Archived Website" %}{% assign icon = "fas fa-archive" %}
            {% else               %}{% assign name = "Website" %}{% assign icon = "fa-solid fa-up-right-from-square" %}
          {% endcase %}
        {% endif %}
        <a href="{{link}}" title="{{name}}" class="capitalise" target="_blank"><i class="{{ icon }}"></i> {{ default: name }}
        </a>
      {% endfor %}
    {% endif %}
  </div>
  {% if page.tooltip.developer %}
    {% assign exists = 'exists' %}
  {% endif %}
  <div class="tooltip-element {{exists}}">
    <i class="info-circle"> 
      <span class="i-info-circle-green"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
    </i>
  {% if page.tooltip.developer %}
    <div class="tooltip-payload">
      <h3></h3>
      {{ page.tooltip.developer | markdownify }}
    </div>
  {% endif %}
  </div>
</div>