<div class="step developer">
  <i class="i-person circle"></i>
  <div class="title">
    <h3>Developer</h3>
    <p class="capitalise">
    {% if page.developerName %}
      {{page.developerName}}
    {% endif %}
    </p>
  </div>
  <div class="data">
    {% if page.website %}
      <a href="{{page.website}}" title="Website" target="_blank">Website</a>
    {% endif %}
    {% if page.twitter %}

    <a href="https://twitter.com/{{page.twitter}}" title="Twitter" target="_blank">Twitter</a>
    {% endif %}
    {% if page.social %}
      {% for link in page.social %}

      {% assign domain = link | split: '/' | slice: 2 | join: "" | split: "." | slice: -2 | join: "" %}

      {% case domain %}
        {% when "bitcointalk" %}{% assign name = "Bitcoin Talk" %}
        {% when "discord"     %}{% assign name = "Discord" %}
        {% when "facebook"    %}{% assign name = "Facebook" %}
        {% when "github"      %}{% assign name = "GitHub" %}
        {% when "google"      %}{% assign name = "Google" %}
        {% when "instagram"   %}{% assign name = "Instagram" %}
        {% when "keybase"     %}{% assign name = "Keybase" %}
        {% when "linkedin"    %}{% assign name = "LinkedIn" %}
        {% when "medium"      %}{% assign name = "Medium" %}
        {% when "pinterest"   %}{% assign name = "Pinterest" %}
        {% when "reddit"      %}{% assign name = "Reddit" %}
        {% when "slack"       %}{% assign name = "Slack" %}
        {% when "t"           %}{% assign name = "Telegram" %}
        {% when "tiktok"      %}{% assign name = "tiktok" %}
        {% when "twitter"     %}{% assign name = "Twitter" %}
        {% when "vimeo"       %}{% assign name = "Vimeo" %}
        {% when "vk"          %}{% assign name = "VK" %}
        {% when "weibo"       %}{% assign name = "Weibo" %}
        {% when "whatsapp"    %}{% assign name = "WhatsApp" %}
        {% when "youtube"     %}{% assign name = "YouTube" %}
        {% else               %}{% assign name = "Website" %}
      {% endcase %}

        <a href="{{link}}" title="{{name}}" class="capitalise" target="_blank">{{name}}</a>
      {% endfor %}
    {% endif %}
  </div>
  {% if page.tooltip.developer %}
    {% assign exists = 'exists' %}
  {% endif %}
  <div class="tooltip-element {{exists}}">
    <i class="info-circle">
      <span class="i-info-circle-green"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
    </i>
  {% if page.tooltip.developer %}
    <div class="tooltip-payload">
      <h3></h3>
      {{ page.tooltip.developer | markdownify }}
    </div>
  {% endif %}
  </div>
</div>