
{% if include.platform!='false' %}
<div class="step distribution">
  <i class="circle" style="display: flex; align-items: center; justify-content: center;">
  {% if include.platform == 'iphone' %}
    <i class="i-app-store" style="z-index: 2; font-size: 23px;"></i>
  {% elsif include.platform == 'android' %}
    <i class="fab fa-google-play" style="z-index: 2; font-size: 23px;"></i>
  {% endif %}
  </i>
  <div class="title">
    <h3>Distribution</h3>
      {% if include.platform == 'iphone' %}
        <div class="distribution-store-links">
          <a title="App Store" href="https://apps.apple.com/{{ page.appCountry }}/app/id{{ page.idd }}" class="link-web subtle distribution-store-link"><i class="i-app-store" aria-hidden="true"></i> App Store</a>
        </div>
      {% endif %}
      {% if include.platform == 'android' %}
        <div class="distribution-store-links">
          <a title="Google Play" href="https://play.google.com/store/apps/details?id={{ page.appId }}" class="link-web subtle distribution-store-link"><i class="fab fa-google-play" aria-hidden="true"></i> Google Play</a>
          {% include /review/alternativeStoreLinks.html %}
        </div>
      {% endif %}
  </div>
  {% if page.tooltip.distribution %}
    {% assign exists = 'exists' %}
  {% endif %}
  <div class="tooltip-element {{exists}}">
    <i class="info-circle">
      <span class="i-info-circle-green"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
    </i>
  {% if page.tooltip.distribution %}
    <div class="tooltip-payload">
      <h3></h3>
      {{ page.tooltip.distribution | markdownify }}
    </div>
  {% endif %}
  </div>
</div>
{% endif %}
