{% assign platform = include.platform %}

<div class="step operating-system">
  {% case platform %}
  {% when "android" %}
  <i class="i-android circle"></i>
  {% when "iphone" %}
  <i class="fab fa-apple circle"></i>
  {% when "hardware" %}
  <i class="i-device circle"></i>
  {% when "bearer" %}
  <i class="i-device circle"></i>
  {% endcase %}
  <div class="title">
    <h3>Platform notes</h3>
    <p>
      {{site.data.platformMeta[platform].description | markdownify}}
    </p>
  </div>
  <div class="data">
  </div>
  {% if page.tooltip.os %}
    {% assign exists = 'exists' %}
  {% endif %}
  <div class="tooltip-element {{exists}}">
    <i class="info-circle">
      <span class="i-info-circle-green"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
    </i>
  {% if page.tooltip.os %}
    <div class="tooltip-payload">
      <h3></h3>
      {{ page.tooltip.os | markdownify }}
    </div>
  {% endif %}
  </div>
</div>