{% case include.verdict %}
  {% when 'reproducible' %}
    {% assign passTxt = 'The answer is "no".<br>If the answer was "yes"' %}
    {% assign failTxt = 'The answer is "yes"' %}
  {% else %}
    {% assign passTxt = 'The answer is "yes".<br>If the answer was "no"' %}
    {% assign failTxt = 'The answer is "no".' %}
{% endcase %}
<p class="response pass">{{passTxt}}, we would mark it as "<strong>{{ site.data.verdicts[include.verdict].title }}</strong>" and the following would apply:<br></p>
<p class="response fail">{{failTxt}} We marked it as "<strong>{{ site.data.verdicts[include.verdict].title }}</strong>".</p>
<p class="response untested">We did not ask this question because we failed at a previous question.<br>If the answer was "no", we would mark it as "<strong>{{ site.data.verdicts[include.verdict].title }}</strong>" and the following would apply:</p>


{{ site.data.verdicts[include.verdict].details | markdownify }}
{% if site.data.verdicts[include.verdict].redflag and page.url != "/methodology/" %}
  <strong>The product cannot be independently verified. If the provider puts your funds at
  risk on purpose or by accident, you will probably not know about the issue
  before people start losing money. If the provider is more criminally inclined
  he might have collected all the backups of all the wallets, ready to be
  emptied at the press of a button. The product might have a formidable track record
  but out of distress or change in management turns out to be evil from some
  point on, with nobody outside ever knowing before it is too late.</strong>
{% endif %}
