{% assign alt_app_id = include.appId | default: page.appId %}
{% assign alt_stores = include.alternativeStores | default: page.alternativeStores %}
{% if alt_stores %}
  {% for store in alt_stores %}
    {% assign alt = store | strip | downcase %}
    {% case alt %}
      {% when 'fdroid' %}
        <a title="F-Droid" href="https://f-droid.org/packages/{{ alt_app_id }}/" class="{% if include.link_class %}{{ include.link_class }}{% else %}link-web subtle{% endif %} distribution-store-link"><i class="fac fa-f-droid" aria-hidden="true"></i> F-Droid</a>
    {% endcase %}
  {% endfor %}
{% endif %}
