{% if page.verdict == "reproducible" %}
  <h1>Disclaimer</h1>
  <p>The following Analysis is not a full code review!
    We plan to make code reviews available in the future but even then it will never
    be a stamp of approval but rather a list of incidents and questionable coding practice.
    Nasa sends probes to space that
    <a href="https://en.wikipedia.org/wiki/Mars_Climate_Orbiter#Cause_of_failure">crash
      due to software bugs</a> despite a huge budget and stringent scrutiny.
  </p>
{% endif %}
