<script type="module">
    const { expertOpinions } = await import('/assets/js/nostr-opinion.js');
</script>

{% assign nostr_collection = include.opinionSubject | default: page.collection %}
{% assign nostr_app_id = include.opinionAppId | default: page.appId %}
{% if page.url and nostr_app_id %}
<nostr-opinion
  subject="{{ nostr_collection }}/{{ nostr_app_id }}"
  opinionHeader="******** Opinion about {{ page.title }} ({{ nostr_collection }})"
  opinionFooter="[Join the conversation!](https://walletscrutiny.com/{{ nostr_collection }}/{{ nostr_app_id }}/)"
  opinionTitle="Opinion about {{ page.title }}"
  opinionImage="https://walletscrutiny.com/images/social/{{ nostr_collection }}/{{ nostr_app_id }}.png"
  opinionTags="WalletScrutiny,nostrOpinion"
  expertOpinionsConfig='{
        "headline": "Community Opinions ($$nTrusted$$/$$nAll$$)",
        "description": "These comments are contributed by nostr users using the nostr-opinions-plugin.",
        "trustedAuthors": [
          "npub1gm7tuvr9atc6u7q3gevjfeyfyvmrlul4y67k7u7hcxztz67ceexs078rf6",
          "npub1r709glp0xx2zvgac45wswufjst5xgr7cear5a8me7x9vazhjzmksp2sf7d",
          "npub1mtd7s63xd85ykv09p7y8wvg754jpsfpplxknh5xr0pu938zf86fqygqxas"
        ]
    }'>
></nostr-opinion>
{% endif %}