{% if page.url %}
<nostr-opinion
  subject="{{ page.collection }}/{{ page.appId }}"
  opinionHeader="Opinion about {{ page.title }} ({{ page.collection }})"
  opinionFooter="[Join the conversation!](https://walletscrutiny.com/{{ page.url }})"
  opinionTitle="Opinion about {{ page.title }}"
  opinionImage="https://walletscrutiny.com/images/social/{{ page.collection }}/{{ page.appId }}.png"
  opinionTags="WalletScrutiny,nostrOpinion"
></nostr-opinion>
{% endif %}
<script type="module">
  import { expertOpinions } from '/assets/js/nostr-opinion.js';
  import experts from '/assets/js/experts.mjs';
  expertOpinions.trustedAuthors = [
      'npub1gm7tuvr9atc6u7q3gevjfeyfyvmrlul4y67k7u7hcxztz67ceexs078rf6', // Leo
      'npub1r709glp0xx2zvgac45wswufjst5xgr7cear5a8me7x9vazhjzmksp2sf7d', // Danny
  ];
  expertOpinions.headline = 'Community Opinions ($$nTrusted$$/$$nAll$$)';
  expertOpinions.description =
      'These comments are contributed by nostr users using the nostr-opinions-plugin.';
</script>
