<div>
  <h2>Do your own research!</h2>
  <p>Try out searching
    for "lost bitcoins", "stole my money" or "scammers" together with the wallet's
    name, even if you
    think the wallet is generally trustworthy. For all the bigger wallets you will
    find accusations. Make sure you understand why they were made and if you are
    comfortable with the provider's reaction.</p>
  <!-- <p>If you find something we should include, you can
  <a href="https://gitlab.com/walletscrutiny/walletScrutinyCom/-/issues">create
  an issue</a> or
  <a href="https://gitlab.com/walletscrutiny/walletScrutinyCom/-/blob/master/_{{page.collection}}/{{page.appId}}.md">edit
  this analysis</a> yourself and create a merge request for your changes.</p> -->
</div>
