{% if page.website %}
<li
 >
  <a href="{{ page.website }}" class="link-web" title='Product website'>
    <i class="fas fa-globe"></i>
  </a>
</li>
{% endif %}
{% if page.shop %}
<li
 >
  <a href="{{ page.shop }}" class="link-web" title='Provider shop'>
    <i class="fas fa-shopping-cart"></i>
  </a>
</li>
{% endif %}
{% if page.binaries %}
<li>
  <a href="{{ page.binaries }}" class="link-web" title='Binaries'>
    <i class="fa fa-file-archive"></i>
  </a>
</li>
{% endif %}
{% if page.repository %}
<li>
  <a href="{{ page.repository }}" class="link-github" title='Source repository'>
    <i class="fa fa-file-code"></i>
  </a>
</li>
{% endif %}
{% if page.issue %}
<li>
  <a href="{{ page.issue }}" class="link-bug" title='Issue on source repository'>
    <i class="fa fa-bug" aria-hidden="true"></i>
  </a>
</li>
{% endif %}
{% if page.twitter %}
<li>
  <a href="https://twitter.com/{{ page.twitter }}" class="link-twitter" title='Provider Twitter profile'>
    <i class="fab fa-twitter"></i>
  </a>
</li>
{% endif %}
{% for s in page.social %}
<li>
  <a href="{{ s }}" class="link-web" title="Provider social link">
    <i class="fas fa-globe"></i>
  </a>
</li>
{% endfor %}
