{% assign meta = include.meta %}
{% assign verdict = include.verdict %}
{% assign platform = include.platform %}

<div class="steps linked">
  {% include /review/steps/developer.html %}
  {% include /review/steps/custody.html %}
  {% include /review/steps/sourceCode.html %}
  {% include /review/steps/privacy.html %}
  {% include /review/steps/applicationBuild.html %}


  

  {% if include.filterPlatform=='true' %}
  <!-- HTML FOR ANY FUTURE DEVICE-SPECIFIC SECTIONS -->


  {% assign platform = include.platform %}
  {% include /review/steps/distribution.html platform=platform %}
  {% include /review/steps/operatingSystem.html %}
  {% include /review/steps/smartphone.html %}
  

  {% endif %}
  
  {% include /review/steps/tests.html meta=meta verdict=verdict platform=platform %}
</div>