{% assign meta = include.meta %}
{% assign verdict = include.verdict %}
{% assign platform = include.platform %}
<div class="steps linked">
  {% include /review/steps/developer.html %}
  {% include /review/steps/releases.html %}
  {% if verdict && meta %}
    {% include /review/steps/custody.html platform=platform %}
  {% endif %}
  {% include /review/steps/sourceCode.html %}
    <!-- {% include /review/steps/privacy.html %} -->
  {% include /review/steps/applicationBuild.html platform=platform appId=include.appId appsTableId=include.appsTableId versionElementId=include.versionElementId %}
  {% if include.filterPlatform=='true' or include.platform == 'hardware' %}
    {% include /review/steps/distribution.html platform=platform appId=include.appId idd=include.idd appCountry=include.appCountry alternativeStores=include.alternativeStores %}
  {% endif %}
  {% include /review/bitcoinOrgFeatured.html %}
  {% include_cached /review/steps/platformNotes.html platform=platform %}
  {% if verdict && meta %}
    {% include_cached /review/steps/tests.html meta=meta verdict=verdict platform=platform %}
  {% endif %}
</div>
{% include_cached /review/deadLinkMarkers.html %}