{%- comment -%}
SeeAlso: Show links to same wallet on other platforms.
Uses precomputed.json for O(1) lookup instead of O(n) collection search.
{%- endcomment -%}
{%- assign key = include.platform | append: "/" | append: page.appId -%}
{%- assign seeAlsoData = site.data.precomputed.seeAlso[key] -%}
{%- if seeAlsoData -%}
<div class="see-also-container">
{%- for item in seeAlsoData -%}
  <div class="also-for">
    <a href="/{{ item.platform }}/{{ item.appId }}">
      <img class="app_logo {{ item.platform }}"
           src="/images/wIcons/{{ item.platform }}/tiny/{{ item.icon }}"
           alt="Wallet Logo">
      {% include iconClass.html platform=item.platform store='true' %}
      {% include folderToName.html folder=item.platform store='true' %}
      <span>{{ item.title | escape }}</span>
      <span><i class="{{iconClass}}"></i>&nbsp;{{name}}</span>
    </a>
  </div>
{%- endfor -%}
</div>
{%- endif -%}
