{% if page.twitter %}
<div class="subsect">
  <h1><i class="fas fa-bullhorn"></i> Help spread awareness for build reproducibility</h1>
  <p><i class="fab fa-twitter"></i>
  <span>
    {% case page.verdict %}
    {% when "sourceavailable" %}
      Please follow {{ title | escape }} and thank them for having the source code available
    {% when "nosource" %}
      Please help us spread the word discussing transparency with {{ title | escape }}
    {% when "custodial" %}
      Please help us spread the word discussing the risks of centralized custodians with {{ title | escape }}
    {% when "nosendreceive" %}
      Please help us spread the word discussing the risks of centralized custodians with {{ title | escape }}
    {% else %}
      Please help us spread the word discussing build reproducibility with {{ title | escape }}
    {% endcase %}
    &nbsp;<a target="_blank" rel="noopener noreferrer"
      href="https://twitter.com/intent/tweet?text=.%20@{{ page.twitter }}%20@WalletScrutiny&url={{ site.url }}{{ page.url }}">via
      their Twitter</a>!
  </span>
  </p>
</div>
{% endif %}
